#image {
  width: 500px;
  height: 250px;
  background: url(http://static.runoob.com/images/demo/demo4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
#myAnchor {
  position: fixed;
  bottom: 10px;
  left: 100px;
}
