/* #image {
  width: 500px;
  height: 250px;
  background: url(http://static.runoob.com/images/demo/demo4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
} */
#tencent {
  position: fixed;
  bottom: 370px;
  left: 10px;
}
input {
  margin: 20px;
}
